.lotto-wrapper {
  border: 1px dotted black;

  overflow: hidden;
  white-space: nowrap;
}
.lotto-wrapper .lotto-ball {
  font-size: 30px;
  width: 3em;
  height: 3em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;

  transition: left 3s linear;
  left: 100%;
}
.lotto-wrapper .lotto-ball.active {
  left: 0%;
}
.lotto-wrapper .lotto-ball .number {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  transition: transform 3s linear;
}
.lotto-wrapper .lotto-ball.active .number {
  transform: rotate(-1440deg);
}
.lotto-wrapper .lotto-ball .shadow {
  background: rgb(0,0,0);
  background: radial-gradient(circle at 0% 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 15%, rgba(57,57,57,1) 45%, rgba(91,91,91,1) 70%, rgba(201,201,201,1) 100%, rgba(0,0,0,1) 100%);
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  left: 30%;
  border-radius: 50%;
  z-index: -1;
}

/* ball color */
.lotto-wrapper .lotto-ball:nth-child(1) {
  background: rgb(252,235,235);
background: radial-gradient(circle at  30% 30%, rgba(252,235,235,1) 0%, rgba(254,76,76,1) 30%, rgba(241,0,0,1) 67%, rgba(162,4,4,1) 100%, rgba(255,0,0,1) 100%);
}
.lotto-wrapper .lotto-ball:nth-child(2) {
  background: rgb(252,243,235);
background: radial-gradient(circle at 30% 30%, rgba(252,243,235,1) 0%, rgba(254,165,76,1) 30%, rgba(241,121,0,1) 67%, rgba(162,83,4,1) 100%, rgba(255,128,0,1) 100%);
}
.lotto-wrapper .lotto-ball:nth-child(3) {
  background: rgb(252,252,235);
background: radial-gradient(circle at 30% 30%, rgba(252,252,235,1) 0%, rgba(254,234,76,1) 30%, rgba(241,210,0,1) 67%, rgba(162,142,4,1) 100%, rgba(255,222,0,1) 100%);
}
.lotto-wrapper .lotto-ball:nth-child(4) {
  background: rgb(235,252,238);
background: radial-gradient(circle at 30% 30%, rgba(235,252,238,1) 0%, rgba(65,213,77,1) 30%, rgba(32,186,0,1) 67%, rgba(0,103,12,1) 100%, rgba(22,142,0,1) 100%);
}
.lotto-wrapper .lotto-ball:nth-child(5) {
  background: rgb(235,245,252);
background: radial-gradient(circle at 30% 30%, rgba(235,245,252,1) 0%, rgba(76,172,254,1) 30%, rgba(0,122,241,1) 67%, rgba(4,76,162,1) 100%, rgba(0,125,255,1) 100%);
}
.lotto-wrapper .lotto-ball:nth-child(6) {
  background: rgb(235,245,252);
background: radial-gradient(circle at 30% 30%, rgba(235,245,252,1) 0%, rgba(65,95,213,1) 30%, rgba(8,0,186,1) 67%, rgba(6,0,103,1) 100%, rgba(7,0,142,1) 100%);
}
.lotto-wrapper .lotto-ball:nth-child(7) {
  background: rgb(244,235,252);
background: radial-gradient(circle at 30% 30%, rgba(244,235,252,1) 0%, rgba(144,65,213,1) 30%, rgba(115,0,186,1) 67%, rgba(79,0,103,1) 100%, rgba(83,0,142,1) 100%);
}
